.container {
    width: 1170px;

}


.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;

}

.col-md-6 {
    width: 50%;

}


.new-letter {
    margin-top: 60px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgba(232, 218, 199, 0.6);
    border-top: 1px solid #e8dac7;
    padding-bottom: 60px;
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
    float: left;
    width: 100%;
}

.container {
    width: 1170px;
}



.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-6 {
    width: 50%;
}